.image-wrapper {
  display: inline-flex !important;
  flex-direction: column;
  & > * {
    align-self: center;
  }
}

.slick-slider {
  padding: 0 1.5rem;
  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
    &::before {
      font-size: 35px;
      color: $blue !important;
    }
  }
  .slick-prev {
    left: -25px;
    z-index: 1;
  }
  .slick-next {
    right: -25px;
    z-index: 1;
  }
}
