.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s all;
  display: inline-flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 1rem;
  &.active {
    opacity: 1;
    z-index: 10;
  }
  .spinner-border {
    --bs-spinner-width: 3rem;
    --bs-spinner-height: 3rem;
    border-color: #FFF;
    border-right-color: transparent;
  }
  span {
    font-weight: bold;
    color: #FFF;
    font-size: 2rem;
  }
}