
services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SEARCH_SERVICE_ENABLED: true
        API_ROOT: http://localhost:8080

  mongodb:
    image: mongo:8.2-noble
    restart: always
    volumes:
      - ./docker-compose/mongo/init/:/docker-entrypoint-initdb.d
      - ./docker-compose/mongo/init:/home/mongodb
      - ./docker-compose/mongo/mongorestore.sh:/docker-entrypoint-initdb.d/mongorestore.sh
      - ./docker-compose/mongo:/mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: impc-spa
      MONGO_INITDB_ROOT_PASSWORD: I5dVq9<8f8;5
      MONGO_INITDB_DATABASE: searchDB
      DB_NAME: searchDB

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      - mongodb
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://impc-spa:I5dVq9<8f8;5@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: impc-spa
      ME_CONFIG_BASICAUTH_PASSWORD: I5dVq9<8f8;5

  searchservice:
    image: mousephenotype/impc-search-service:latest
    depends_on:
      - mongodb
    environment:
      XMS: "-Xms1024m"
      XMX: "-Xmx1024m"
      MONGODB_URL: "impc-spa:I5dVq9<8f8;5@mongodb:27017"
      ENVIRONMENT: "aws"

  nginx:
    image: nginx:alpine