@import "../../styles/vars.scss";

.chartWrapper {
  position: relative;
  height: 400px;
  width: 100%;
}

.subheading {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $grey;
  font-size: 0.9rem;
}

.embryoImage {
  max-height: 250px;
}