@import "../../../../styles/vars.scss";
.table {
  margin-top: $xs;
  td {
    vertical-align: middle;
    line-height: 2rem;
  }
}

.link {
  cursor: pointer;
  &:hover {
    color: $orange-dark;
  }
}

.pValueCell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
