@import "../../styles/vars.scss";
.table {
  margin-top: $xs;
  td {
    vertical-align: middle;
    line-height: 1.5;
  }
  &.striped thead tr th {
    --bs-table-bg: #f3f5f8 !important;
  }
  &.striped tbody > tr:nth-of-type(odd) > td {
    --bs-table-bg: #fff;
  }
  &.striped tbody > tr:nth-of-type(even) > td {
    --bs-table-bg: #f7fbfc;
  }
  &.noMargin {
    margin: 0;
  }
}

td.procedureName {
  line-height: 1.5;
}

.inlineButton {
  background: none;
  appearance: none;
  border: none;
  padding: 0;
}

.tableWrapper {
  max-width: 100%;
  overflow: auto;
}

.headerButton {
  width: 100%;
  text-align: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  &.disabled {
    width: initial;
    cursor: default !important;
  }
  &.withExtraContent {
    width: initial;
  }
}

$button-margin: -0.3em;

.sortIcon {
  color: #3db28c;
}

.defaultIcons {
  display: inline-flex;
  flex-direction: column;
  align-self: start;
  color: #3db28c;
  .first {
    margin-bottom: $button-margin;
  }
  .second {
    margin-top: $button-margin;
  }
}
