@import "../../styles/vars.scss";
.subheadingCont {
  margin-bottom: $xs;
  display: flex;
  justify-content: space-between;
}

.subheading {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $grey;
}

.subheadingSection {
  margin-right: $md;
  display: inline-block;
  vertical-align: top;
}

.result {
  padding-top: $xs;
  padding-bottom: $xs;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  &:hover {
    background-color: $grey-light;
  }
  &:nth-child(2n) {
  }
  p {
    margin-bottom: calc($xxs / 2);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s all;
  &.active {
    opacity: 1;
  }
}
