@import "../../../../styles/vars.scss";
.table {
  margin-top: $xs;
  td {
    vertical-align: middle;
    line-height: 2;
  }
}

.procedureName {
  line-height: 1.5;
}

.inlineButton {
  background: none;
  appearance: none;
  border: none;
  padding: 0;
}
